name: Deploy Website to Aliyun OSS

on: [push, pull_request]

jobs:
  main:
    runs-on: ubuntu-latest
    env:
      PYTHONWARNINGS: "ignore::DeprecationWarning"  # prevent "mkdocs unslugify" warning
      MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.MKDOCS_GIT_COMMITTERS_APIKEY }}  # prevent git-committers 403 rate limit exceeded

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0  # fetch all commit history

    - name: Setup python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14.2'
    
    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        activate-environment: "true"
    
    - name: Install python dependence
      run: uv sync
    
    - name: Build website
      run: mkdocs build -f mkdocs.yml
    
    - name: Setup Aliyun CLI
      uses: aliyun/setup-aliyun-cli-action@v1
    
    - name: Config Aliyun CLI
      run: |
        aliyun configure set \
          --mode AK \
          --region ${{ vars.REGION }} \
          --access-key-id ${{ secrets.ALIYUN_ACCESS_KEY_ID  }} \
          --access-key-secret ${{ secrets.ALIYUN_ACCESS_KEY_SECRET  }}

    - name: Operate Aliyun OSS
      run: |
        aliyun ossutil rm -r oss://wiki-web-shanghai/ -f
        aliyun ossutil cp oss://public-assets-shanghai/files/BingSiteAuth.xml oss://wiki-web-shanghai/
        aliyun ossutil cp -r ./site/ oss://wiki-web-shanghai/
